.container {
    /*display: flex;*/
    /*justify-content: center;*/
    /*text-align: center !important;*/
}

.btn-power-main {
    background: red;
    color: whitesmoke;
    width: 30%;
    font-size: 30px !important;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}
.tv-container .card {
    background: #24282b !important;
}
.dpad-1{
    width: 32%;
    height: 33%;
}
.dpad-1 .btn{
    width: 5.2em;
}
.dpad-2{
    width: 88%;
    height: 33%;
}
.dpad-2 .btn{
    /*width: 100%;*/
    width: 5.6em;
}
.dpad-divider{
    width: 100%;
    /*height: 33%;*/
}
.dpad-up-icon{
    margin-bottom: 0.4em;
}
.dpad-left-icon{
    margin-right: 1.0em;
}
.dpad-right-icon{
    margin-left: 1.0em;
}
.dpad-down-icon{
    margin-top: 0.4em;
}
.dpad-left {
    /*margin-right: 44px;*/
    /*margin-left: 4px;*/
    display: flex;
    align-items: center;
}
.dpad-right {
    /*margin-right: 4px;*/
    /*margin-left: 44px;*/
    display: flex;
    align-items: center;
}

.custom-row-1 {
    height: 68px !important;
}
.custom-row-1 .card{
    width: 100%;
    height: 100% !important;
}
.custom-row-1 .btn-group {
    padding: 0.1em;
    /*margin: 3px;*/
}
.custom-row-1 .btn {
    height: 100% !important;
}

.custom-row-2 {
    height: 268px !important;
}
.custom-row-2 .card{
     width: 100%;
     height: 100% !important;
 }
.custom-row-2 .btn-group {
    padding: 0.1em;
}

.custom-row-3{
    height: 88px !important;
}

.custom-row-3 .card{
    width: 100%;
    height: 100% !important;
}

.custom-row-3 .btn{
    /*margin-left:1.2em;*/
    /*margin-right:3.8em;*/
    margin: 0.4em;
    width: 22%;
    height: 100% !important;
}

.custom-row-3 .btn-divider {
    width:18%;
}
.btn-icon {
    /*width: 100%;*/
    /*width: calc(50% - 4px); !* Adjust the spacing as needed *!*/
    height: 100%;
    justify-content: center;
    align-items: center;
    outline: none; /* Remove outline on focus (for accessibility) */
    text-align: center;
    line-height: 60px;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    font-family: sans-serif;
    /*box-sizing: border-box;*/
    background: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
    /*background: linear-gradient(90deg,#5bcedf, #f96161, #fc8f46, #36e494);*/
    background-size: 400%;
    border-radius: 30px;
    /*z-index: 1;*/
}

.custom-icon {
    font-size: 36px;
    color: #fff;
}

.btn-icon:hover{
    animation: animate 8s linear infinite;
}
.btn-icon:before{
    content: '';
    /*position: absolute;*/
    /*top: -5px;*/
    /*left: -5px;*/
    /*right: -5px;*/
    /*bottom: -5px;*/
    /*z-index: -1;*/
    /*background: linear-gradient(90deg,#5bcedf, #f96161, #fc8f46, #36e494);*/
    background: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
    background-size: 400px;
    border-radius: 40px;
    opacity: 0;
    transition: 0.5s;
}

.btn-icon:hover:before{
    filter: blur(10px);
    opacity: 1;
}


@keyframes animate {
    0%{
        background-position: 0%;
    }
    100%{
        background-position: 400%;
    }
}