.container {
    /*max-width: 400px;*/
    margin: 0 auto;
    text-align: center;
}
.home-header {

}
.home-container{
    width: 96% !important;
    /*margin-top: 90px !important;*/
    /*margin-bottom: 100px;*/
    flex: 1; /* Let the container fill the remaining vertical space */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.home-container .card-header {
    color: #fff !important;
    text-align: start;
    /*background: #33b1ff !important;*/
    background-color: rgba(51, 170, 255, 0.8);
    /*background-color: rgba(0, 157, 255, 0.9);*/

}

.home-container .card {
    margin-top: 52px !important;
    margin-bottom: 100px;
    color: #fff !important;
    text-align: start;
    /*background: #91a3b0 !important;*/
    background-color: rgba( 163, 189, 207, 0.1);
    /*opacity: .8;*/
}

.home-container .btn-row {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-container .btn-row .btn-power-main {
    background: red;
    color: whitesmoke;
    width: 30%;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}

.home-container .btn-row .btn-tv-main {
    color:whitesmoke;
    /*height: 60%;*/
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}

.home-container .btn {
    width: 100%;
    padding: 15px;
    background-color: #007bff;
    color: #fff;
    border: none;
    font-size: 26px !important;
    cursor: pointer;
}

.btn-tv-icon {
    float: left;
    font-size: 1.3em;
    /*margin-left: 20px;*/
}
.btn-tv-text {
    text-align: center;
    margin-right: 28px;
}



/* Media Query for Mobile Devices */
@media (max-width: 767px) {
    .home-container .btn {
        width: 90%;
    }
}

/* Responsive Styles for Landscape Mode */
@media (orientation: landscape) {
    .home-container .btn {
        font-size: 16px; /* Adjust font size for landscape mode */
    }
    .home-container{
        margin-top: 0px;
        margin-bottom: 20px;
        flex: 1; /* Let the container fill the remaining vertical space */
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}