.custom-navbar-brand {
  font-weight: bold;
  font-size: 1.0em !important;
  color: #fff !important;
}

.custom-nav-link.active {
  color: #007bff !important;
  font-weight: bold;
  text-decoration: underline #007bff;
  text-decoration-thickness: 2px;
  text-underline-offset: 7px;
}

.custom-nav-link {
  font-size: 1.3em !important;
  color: #fff !important;
  text-decoration: none;
  text-align: center;
  margin-left: 16px !important;
  margin-right: 16px !important;
}
.custom-nav {
  width: 100% !important;
}

@media (max-width: 767px) {
  .custom-nav {
    margin-top: 2%;
  }
  .custom-nav-icon {
    margin-bottom: 8%;
  }
}

