.digit-buttons {
    max-height: 0;
    overflow: hidden;
    /*transition: max-height 0.5s ease-in-out;*/

}

.digit-buttons-visible {
    /*max-height: 900px; !* Adjust the maximum height as needed *!*/
}

.digit-buttons-hidden {
    max-height: 0;
}

.home-button {
    /*background: linear-gradient(140deg,#236cb8 2%,#3085cf 100%,#82c2f0 100%);*/
}

.input-button {
}

.toggle-button.active {
    background: #2c77ba;
}