body {
  background: #1a1e21 !important;
  font: 16px "Lucida Grande", Helvetica, Arial, sans-serif;
  height: 100vh; /* Set body to full viewport height */
  margin: 0;
  /*font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',*/
  /*  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',*/
  /*  sans-serif;*/
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* styles.css or your custom utility classes */
.dark {
  --bg-color: #1a1a1a;
  --text-color: #ffffff;
  /* Add more dark mode styles here */
}