.label-col {
    text-align: end;
}

.control-col {
}

.row-first {
    margin-bottom: 18px;
}

.settings {
    margin-top: 24px;
}

.btn-save {
    background: #007bff !important;
}

@media (max-width: 767px) {
    .settings {
    }
}